@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
  font-family: 'Poppins', sans-serif;
}

body
{
    background: #40485a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container
{
    display: flex;
    justify-content: space-around;
    
}

/* bouton 1 */
.menubtn
{
    position: relative;
    background-color: #40485a;
    color: white;
    min-width: 160px;
    padding: 15px 40px;
    margin-left: 20px;
    font-size: 16px;
    outline:  1px solid white;
    cursor: pointer;
    overflow:hidden;
    display: inline-block;
}
  
.menubtn:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background : white;
    left: -55px;
    top: -40px;
    transform: rotate(37deg);
    transition: all .3s;
    opacity: 0.3;
  }
  
  .menubtn:hover:before {
    left:95%;
  }
  
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    text-align: center;
    margin-left: 20px;
    min-width: 160px;
    outline:  1px solid white;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
  
.dropdown-content a 
{
    color: black;
    padding: 14px 18px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover 
{
    background-color: #3f4450;
    color: white;
    opacity: 0.3;
    
}

.show 
{
    display:block;
}

/* bouton 2 */

.menubtn2
{
    position: relative;
    background-color: #40485a;
    color: white;
    min-width: 160px;
    padding: 15px 40px;
    margin-left: 20px;
    font-size: 16px;
    outline:  1px solid white;
    cursor: pointer;
    overflow:hidden;
    display: inline-block;
}
  
.menubtn2:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background : white;
    right: -55px;
    bottom: -40px;
    transform: rotate(37deg);
    transition: all .3s;
    opacity: 0.3;
  }
  
  .menubtn2:hover:before {
    right:95%;
  }

  /* bouton 3 */

  .menubtn3
{
    position: relative;
    background-color: #40485a;
    color: white;
    min-width: 160px;
    padding: 15px 40px;
    margin-left: 20px;
    font-size: 16px;
    outline:  1px solid white;
    cursor: pointer;
    overflow:hidden;
    display: inline-block;
}
  
.menubtn3:before {
  content: "";
  position: absolute;
  height: 15px;
  width: 100%;
  background : #fff;
  left: 0;
  top: 0;
  transition: all .3s;
  opacity: 0.3;
}

.menubtn3:hover:before {
  top: 72%;
}

/* bouton 4 */

.menubtn4
{
    position: relative;
    background-color: #40485a;
    color: white;
    min-width: 160px;
    padding: 15px 40px;
    margin-left: 20px;
    font-size: 16px;
    outline:  1px solid white;
    cursor: pointer;
    overflow:hidden;
    display: inline-block;
}
  
.menubtn4:before {
  content: "";
  position: absolute;
  height: 15px;
  width: 100%;
  background : #fff;
  left: 0;
  bottom: 0;
  transition: all .3s;
  opacity: 0.3;
}

.menubtn4:hover:before {
  bottom: 72%;
}

@media only screen and (max-width: 500px)
{
     body 
   {
    margin: auto;
    min-height: auto;   
   }
    
    .container
    {
        
        flex-direction: column;
        padding: 40px;
    }
